<div class="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.attached? ? @list.photo.key : "https://res.cloudinary.com/wvala/image/upload/v1653656942/cld-sample.jpg", width: 1145, crop: :fill %>')">
  <h1><%= @list.name %></h1>
    <p>I heckin love <%= @list.name.downcase %> movies</p>
    <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
    <%= link_to "Back", lists_path %>
</div>
<div class="container">
  <div class="show-grid">
    <% @bookmarks.each do |bookmark| %>
      <div class="list-card">
        <p><%= bookmark.movie.title %> - Rating: <%= bookmark.movie.rating %></p>
        <%= image_tag bookmark.movie.poster_url, alt: "Movie Poster", width: 200 %>
        <p>Overview: <%= bookmark.movie.overview %></p>
        <p>Comment: <%= bookmark.comment %></p>
        <p><%= link_to "delete bookmark", bookmark_path(bookmark), method: :delete %></p>
      </div>
    <% end %>
  </div>
</div>
